html,
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", monospace;
  background:rgb(60, 144, 177);
  color:black;
}

canvas {
  display: block;
  
}

/* Just playing around with some properties*/
#container {
  display: flex;
  flex-direction:column;
/*   justify-content: center; */
  margin: 0 auto;
}
#container-main {
  display: flex;
  margin:0 auto;
  flex-direction: row;
  align-items: center;
  /*Debug setting    */
  /*   background: red; */
}
#canvas-element {
  border-style: solid;
}
#reset-sim {
  height:3rem;
  width:6rem;
  background-color: chocolate;
}
}
#update-boids {
  height:3rem;
  width:6rem;
  background-color: crimson;
}
#side-bar {
  display: flex;
  flex-direction: column;
}
#num-input {
  width: 6rem;
  color: red;
  background-color: bisque;
}
#sliders{
  display:flex;
/*   flex-direction:row; */
/*   align-items:center; */
  justify-content: center;
}
